// Colores
$Verde-oscuro: #006341;
$Verde-claro: #CFE7C5;
$Gris-oscuro: #393939;
$Blanco: #FFFFFF;
$Rosa: #EF3C9A;

// Tipografía
$font-main: 'Poppins', sans-serif;
$font-size-base: 16px;
$font-weight-bold: 700;
$font-weight-regular: 400;

// Medidas generales
$banner-height: 600px;
$max-width-container: 1200px;