@import './variables';

body {
  font-family: $font-main;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

.container {
  max-width: $max-width-container;
  margin: 0 auto;
  padding: 0 15px;
}

// Banner.scss
.banner {
    background-image: url("../assets/images/familia-deseguros.webp");
  height: $banner-height;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}